{% extends 'layout.html' %}

{% block body %}

<div class="content">
    <div class="title" style="text-align: center;">
        <h2>INFINITUM</h2>
        <h3>CASE STUDY</h3>
        <h4>API URL: <a href="http://{{ request.get_host }}/restapi/domains/" target="_blank">http://{{ request.get_host }}/restapi/domains/</a></h4>
    </div>
    <div class="box">
        <div class="buttonBox">
            <button class="addButton" id="addRow">
                <i class="fas fa-solid fa-plus" style="color: #fff;"></i>
                Domain Ekle
            </button>
            <button class="removeButton" id="allRemove">
                <i class="fas fa-trash" style="color: #fff;"></i>
                Seçili Adresleri Sil
            </button>
        </div>
        <div class="tableBox">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAllProducts" onclick="">
                        </th>
                        <th class="articleIdTh">ID</th>
                        <th>Domain</th>
                        <th>Subdomain</th>
                        <th>Creation Date</th>
                        <th>Expiration Date</th>
                        <th>Name Servers</th>
                        <th>Registrant Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for domain in domains%}
                    <tr class="odd">
                        <td class="select-checkbox"></td>
                        <td class="articleIdTd">{{ domain.id }}</td>
                        <td>{{ domain.name }}</td>
                        <td>
                            <button class="subList" id="subList"
                                onclick="subFunction('{{ domain.name }}', '{{ request.get_host}}')">
                                <i class="fas fa-solid fa-list" style="color: #fff;"></i>
                                Subdomain Listesi
                            </button>
                        </td>
                        <td>{{ domain.creation_date}}</td>
                        <td>{{ domain.expiration_date}}</td>
                        <td>
                            <button class="nsList" id="nsList"
                                onclick="nsFunction('{{ domain.name }}', '{{ request.get_host}}')">
                                <i class="fas fa-solid fa-list" style="color: #fff;"></i>
                                Name Servers Listesi
                            </button>
                        </td>
                        <td>
                            <button class="rnList" id="rnList"
                                onclick="nsFunction('{{ domain.name }}', '{{ request.get_host}}')">
                                <i class="fas fa-solid fa-list" style="color: #fff;"></i>
                               Registrant Name
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="selectorBox">
            <span id="tableRowNumber"></span>
        </div>
    </div>
</div>


{% endblock  %}